@tailwind base;
@tailwind components;
@tailwind utilities;

.bubble {
    opacity: .3;

    position: absolute;
    bottom: -150;

    animation: bubbles 3s linear infinite;
}

.bubble:nth-child(1) {
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.bubble:nth-child(2) {
    width: 100px;
    height: 100px;
    left: 20%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.bubble:nth-child(3) {
    width: 20px;
    height: 20px;
    left: 30%;
    animation-duration: 7s;
    animation-delay: 2s;
}

.bubble:nth-child(4) {
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.bubble:nth-child(5) {
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.bubble:nth-child(6) {
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.bubble:nth-child(7) {
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.bubble:nth-child(8) {
    width: 100px;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.bubble:nth-child(9) {
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.bubble:nth-child(10) {
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

@keyframes bubbles {
    0% {
        bottom: 0;
        opacity: .2;
    }

    30% {
        transform: translateX(30px);
    }

    50% {
        opacity: .6;
    }

    100% {
        bottom: 100vh;
        opacity: .4;
    }
}